---
import { Image } from "astro:assets";
import { getEntry, type CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"posts">;
};

// Extracting the post object
const { post } = Astro.props;

const { author, description, title, pubDate } = post.data;

const { data: authorData } = await getEntry("team", author.id);
---

<article class="post-card">
  <div>
    <h2>{title}</h2>

    <div class="meta">
      <Image src={authorData.img} alt={authorData.name} width="25" />
      <p>{authorData.name}</p>
      <span>•</span>
      <time datetime={pubDate.toISOString()}
        >{
          pubDate.toLocaleDateString(undefined, {
            dateStyle: "medium",
            timeZone: "CET",
          })
        }
      </time>
    </div>
  </div>
</article>
<p>{description}</p>
<a href={`/blog/${post.slug}`} class="btn">Read Post</a>

<style>
  .project {
    grid-column: breakout;
    display: grid;
    grid: auto/ 1fr 1.5fr;
    gap: 2em;
    padding: 1em 0 2em;

    .project__image {
      display: grid;
      place-content: center;

      .img__border {
        outline: 1px solid black;
      }

      img {
        min-width: 200px;
        max-width: 600px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1;
      }
    }

    .project__content {
      display: flex;
      flex-direction: column;

      .project__button {
        place-self: end;
        padding: 1em;
      }
    }
  }

  @media screen and (max-width: 800px) {
    .project {
      grid: auto 1fr / 1fr;
    }
  }
</style>
