---
import { Image } from "astro:assets";
import PrimaryBtn from "./PrimaryBtn.astro";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

// Access the properties from the `portfolio`

type Props = {
  post: CollectionEntry<"portfolio">;
};

const { post } = Astro.props;

const { img, altText, title, description } = post.data;





---

<article class="project">
  <div class="project__image">
    <div class="img__border">
      <Image
        src={img}
        alt={altText}
        format="avif"
      />
    </div>
  </div>
  <section class="project__content flow">
    <h2 class="project__title">{title}</h2>
    <p class="project__description"></p>
    <p>{description}</p>
  </section>
  <a href={`/portfolio/${post.slug}`} class="project__button">
    <PrimaryBtn btnText="See more" src={`/portfolio/${post.slug}`} />
  </a>
</article>

<style>
  .project {
    grid-column: breakout;
    display: grid;
    grid: auto/ 1fr 1.5fr;
    gap: 2em;
    padding: 1em 0 2em;

    .project__image {
      display: grid;
      place-content: center;

      .img__border {
        outline: 1px solid black;
      }

      img {
        min-width: 200px;
        max-width: 600px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1;
      }
    }

    .project__content {
      display: flex;
      flex-direction: column;

      .project__button {
        place-self: end;
        padding: 1em;
      }
    }
  }

  @media screen and (max-width: 800px) {
    .project {
      grid: auto 1fr / 1fr;
    }
  }
</style>
