---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

const { img, altText, cardTitle, cardDesc } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/resume/*.{jpeg,jpg,png,gif,webp}"
);

if (!images[`/src/assets/resume/${img}`]) {
  throw new Error(`Image "${img}" not found in the assets folder.`);
}
---

<div class="card">
  <Image
    src={images[`/src/assets/resume/${img}`]()}
    alt={altText}
    format="avif"
  />
  <div class="text">
    <h2>{cardTitle}</h2>
    <p>
     {cardDesc}
    </p>
  </div>
</div>

<style>
  .card {
    /* 375px 300px → 1000px 420px */
    height: clamp(18.75rem, 14.25rem + 19.2vw, 26.25rem);
    width: clamp(18.75rem, 14.25rem + 19.2vw, 26.25rem);
    position: relative;
    color: white;

    overflow: hidden;

    &:hover,
    &:active {
      &:before {
        opacity: 0.5;
      }
      img {
        height: 100%;
        transition: height 0.5s ease-out;
      }
      .text {
        opacity: 1;
        transform: translateY(10rem); 
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: black;
      z-index: 1;
      opacity: 0;
      transition: 0.5s;
    }

    img {
      width: 100%;
      height: 110%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      transition: height 0.3s ease-out;

      :hover,
      :active {
      }
    }
  }

  .text {
    position: relative;
    z-index: 3;
    opacity: 1;
    transform: translateY(30rem);
    transition: 0.5s;
    padding: 0 1em 1em;
  }

  h2 {
    text-align: center;
  }
</style>

<!-- <style>
  .card {
    outline: 2px solid var(--dark);
    /* 375px 300px → 1000px 420px */
    height: clamp(18.75rem, 14.25rem + 19.2vw, 26.25rem);
    /* 375px 460px → 1000px 640px */

    width: clamp(28.75rem, 22rem + 28.8vw, 40rem);

    display: flex;
    flex-direction: column;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
  }

  .text {
  }

  .hover__text {
    display: none;
  }

  .card:hover {
    height: 500px;
    .hover__text:hover {
      display: inline;
      margin-top: 380px;
    }
  }
</style> -->
